fermenter-mda/src/main/resources/fermenter-2-profiles.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT profiles (profile+)>

<!ELEMENT profile (target*,include*)>
<!ATTLIST profile name CDATA #REQUIRED>
<!ATTLIST profile extends CDATA #IMPLIED>

<!ELEMENT target EMPTY>
<!ATTLIST target name CDATA #REQUIRED>

<!ELEMENT include EMPTY>
<!ATTLIST include name CDATA #REQUIRED>


