fermenter-mda/src/main/resources/fermenter-2-messages.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ELEMENT messages (message*)>

<!ELEMENT message (summary+, detail*)>
<!ATTLIST message key CDATA #REQUIRED>

<!ELEMENT summary (#PCDATA)>
<!ATTLIST summary locale CDATA #IMPLIED>

<!ELEMENT detail (#PCDATA)>
<!ATTLIST detail locale CDATA #IMPLIED>
